body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #005bd1;
}

#header .nav .nav-link.active {
    background-color: #fff;
    color: #005bd1;
}

#header .nav .nav-link, .navbar-brand, .navbar-brand:hover {
    color: #fff;
}

#imagemPrincipal img {
    width: 1897px;
    height: 700px;
}

.navbar-toggler {
    background-color: rgb(198, 224, 253);
}

.section-tittle {
    font-family: "fredoka";
}

.text-color {
    color: #005bd1;
}

#contact button {
    background-color: #005bd1;
    color: #fff;
}

.col-md-3 img {
    cursor: pointer;
}

#data {
    color: #686767;
}

footer {
    margin-top: 12px;
}

.btn-floating img {
    height: 36px;
}

.p-3 {
    background-color: #005bd1;
    font-family: 'Oswald', sans-serif;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}